@import '_normalize';
@import '_animations';


#app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #212121;
      font-size: 18px;
}

h1, h2 {
      font-weight: normal;
}

ul {
      list-style-type: none;
      padding: 0;
}

li {
      display: inline-block;
      margin: 0 10px;
}

img{
      width: 100%;
      height: auto;
}
a{
      text-decoration: none;
      color: #212121;
}
*{
      box-sizing: border-box;
}